h1 Portfolio
.item-container
  for stuff, slug in public.stuff._data
    a#item(
      class="item"
      href="/stuff/#{ slug }"
    )
      .item-back(
        style="background-image:url(./images/#{stuff.image})"
      )
        .item-front(class="#{slug}")
